.header,
.introduction,
.footer {
  background-color: #1f2937;
}

.header-logo {
  color: #f9faf8;
  size: 24px;
}

.links,
.intro-text {
  color: #e5e7eb;
  font-size: 18px;
}

.links {
  text-decoration: none;
}

.introduction-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
