body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Header */
.header-logo {
  color: #f9faf8;
  size: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* introduction section */

.introduction-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}

.introduction {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
}

.left-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
}

/* .intro-text {
} */

.intro-img {
  height: 300px;
  width: auto;
  display: flex;
  align-self: center;
}

/* information section */

.information {
  display: flex;
  flex-direction: column;
}

.information-title {
  color: #1f2937;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 45px;
}

.card {
  width: 300px;
}

.card img {
  height: auto;
  width: 300px;
}

.card-description {
  text-align: center;
}

/* Quote section */

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  width: 900px;
  /* padding-bottom: 10px;
  margin-bottom: -35px; */
}

.quote-block {
  display: flex;
  flex-direction: column;
}

.quote h5 {
  text-align: right;
  padding-top: 0;
}

/* Button & call to action background color */

.sign-up,
.banner {
  background-color: #3882f6;
}

/* misc */
.header,
.introduction,
.footer {
  background-color: #1f2937;
}

.links,
.intro-text {
  color: #e5e7eb;
  font-size: 18px;
}

.links {
  text-decoration: none;
}

button {
  border-radius: 5px;
  border: none;
  color: #ffffff;
  padding: 5px 30px;
  font-weight: bolder;
  font-size: 18px;
}
