/* table of contents

1. global styles

2. main content

    2.1 header
    2.2 introduction 
    2.3 information
    2.4 quote ( < need help here)
    2.5 call to action

3. footer

4. misc

*/

/* ================
   1. global styles
   ================*/

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* ================
   2.1 header
   ================*/

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: #f9faf8;
  size: 24px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ================
   2.2 introduction
   ================*/

.introduction-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}

.introduction {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
}

.left-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
}

.intro-img {
  height: 300px;
  width: auto;
  display: flex;
  align-self: center;
}

/* ================
   2.3 information
   ================*/

.information {
  display: flex;
  flex-direction: column;
}

.information-title {
  color: #1f2937;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 45px;
}

.card {
  width: 300px;
}

.card img {
  height: auto;
  width: 300px;
}

.card-description {
  text-align: center;
}

/* ================
   2.4 quote
   ================*/

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  /* padding-bottom: 10px;
  margin-bottom: -35px; */
}

.quote-block {
  width: 900px;
}

.special {
  text-align: end;
}

/* ==================
   2.5 call to action
   ==================*/

/*empty*/

/* ================
   3. footer
   ================*/

/*empty*/

/* ================
   4. misc
   ================*/

.header,
.introduction,
.footer {
  background-color: #1f2937;
}

.sign-up,
.banner {
  background-color: #3882f6;
}

.links,
.intro-text {
  color: #e5e7eb;
  font-size: 18px;
}

.links {
  text-decoration: none;
}

button {
  border-radius: 5px;
  border: none;
  color: #ffffff;
  padding: 5px 30px;
  font-weight: bolder;
  font-size: 18px;
}

.sign-up-action {
  border: 2px solid white;
  color: #ffffff;
  padding: 5px 30px;
  font-weight: bolder;
  font-size: 18px;
  background-color: #3882f6;
}
